<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Happi Painters</title>
  </head>
  <body class="page">

    <h1 class="title">¡Lo sentimos! No podemos mostrar la tarjeta que nos pides.</h1>

  </body>
</html>